@font-face {
  font-family: "Inter";
  src: url("../font/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
  font-family: "WorkSans";
  src: url("../font/WorkSans-VariableFont_wght.ttf");
}

/** ---- BASIC ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Karla", sans-serif;
  font-size: 10px;
}

img {
  max-width: 100%;
}

a {
  font-family: "workSans";
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Inter";
  font-size: 6.4rem;
  line-height: 51px;
  font-weight: bold;
  color: white;
}

.textBg {
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

h2 {
  font-family: "Inter";
  font-size: 9.5rem;
  word-spacing: -2.5px;
  line-height: 108px;
  color: white;
}

h3 {
  font-family: "Inter";
  font-size: 8.3rem;
  font-weight: bold;
  word-spacing: -1.2px;
  color: black;
}

p {
  font-family: "WorkSans";
  font-size: 1.6rem;
  letter-spacing: -0.5px;

  color: white;
}

.pStrong {
  font-family: "Inter";
  margin-bottom: 20px;
  font-size: 2.9rem;
  font-weight: bold;
}

.btn {
  border: 1px solid #aaa;
  font-family: "WorkSans";
  font-size: 2rem;
  word-spacing: -0.5px;
  font-weight: normal;

  height: 50px;
  width: 130px;
  padding-top: 10px;

  text-align: center;

  transition: all 300ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1, 1.1);
}
/** ---- Flex standards --- */

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexColumnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
}
/** --- Header ----*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: black;

  height: 60vh;
  width: 100%;
}

.ha1 p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.topLine {
  border-right: 0.5px solid rgba(130, 130, 130, 0.493);

  margin-bottom: 50px;
  height: 10vh;
  width: 5px;
}

.ha1 div:nth-of-type(2) {
  text-align: center;
}

.ha1 div:nth-of-type(2) h1 {
  margin-bottom: 20px;
  width: 65%;
}

.ha2 {
  justify-content: space-between;

  height: 5vh;
  width: 100%;
  padding: 5% 80px;
}

/** ---- Main Section 1 ---*/

.mainS1 {
  overflow: hidden;
}

.mainS1 article:nth-of-type(1) {
  background: black;

  height: 70vh;
  padding: 150px 80px 0 80px;
}

.detailsBox {
  justify-content: space-between;
  background: black;

  padding: 50px 0 50px 80px;
}

.detailsBox div:nth-of-type(1) {
  width: 40%;
}

.detailsBox div:nth-of-type(1) p {
  margin-bottom: 5px;
}

.detailsBox div:nth-of-type(1) h2 {
  margin-bottom: 30px;
}

.detailsBox div:nth-of-type(2) {
  width: 40%;
}

.detailsBox div:nth-of-type(2) img {
  margin: -130px 0 0 30px;
  width: 100%;
  height: 100%;
}

/** ----- Main Section 2 ---*/

.mainS2 {
  justify-content: center;

  height: 80vh;
}

.mS2Box1 {
  display: flex;
  justify-content: center;
  width: 30%;
}
.mS2Box1 img {
  margin: -100px 0 0 50px;
  width: 70%;
}

.mS2Box2 {
  width: 40%;
  padding: 40% 20px 0 20px;
}

.mS2Box2 p {
  padding-right: 15%;
  line-height: 30px;
  color: black;
}

.mS2Box3 {
  justify-content: space-between;
  width: 30%;
}

.mS2Box3 img {
  width: 80%;
}

.mS2Box3 img:nth-of-type(1) {
  margin: -80px 0 0 -230px;
}

.mS2Box3 img:nth-of-type(2) {
  margin: 0 -110px 60px 0;
  width: 70%;
}

/** --- Main Section 3 --- */

.mainS3 {
  height: 80vh;
  overflow: hidden;
}

.mainS3 article {
  justify-content: space-between;
}

.mS3Box1 {
  width: 30%;
}

.mS3Box1 img:nth-of-type(1) {
  margin: 0 0 0 180px;
  width: 90%;
}

.mS3Box1 img:nth-of-type(2) {
  margin: 0 0 300px 45px;
  width: 80%;
}

.mS3Box2 {
  justify-content: center;

  width: 40%;
  padding: 550px 40px 0 50px;
}

.mS3Box2 p {
  line-height: 30px;
  color: black;
}

.mS3Box3 {
  width: 30%;
}

.mS3Box3 img:nth-of-type(1) {
  margin: 200px 0 0 -100px;
  width: 80%;
}

.mS3Box3 img:nth-of-type(2) {
  margin: 0 0 -70px -250px;
  width: 100%;
}

/** ---- Main Section 4 ---*/

.mainS4 {
  background: black;
  overflow: hidden;
}

.mS4TextBox {
  display: flex;
  margin-bottom: 20px;
  padding-left: 80px;
}

.mS4TextBox div:nth-of-type(1) {
  width: 40%;
  padding: 10% 3% 5% 5%;
}

.mS4TextBox div:nth-of-type(1) p {
  margin-bottom: 30px;
}

.mS4TextBox div:nth-of-type(1) h2 {
  line-height: 82px;
}

.mS4TextBox div:nth-of-type(2) {
  width: 60%;
  padding: 10% 10% 5% 10%;
}

.mS4PictureBox {
  justify-content: center;
  height: 50vh;
}

.mS4PictureBox img:nth-of-type(1) {
  margin: 50px 0 0 0;
  width: 60%;
  height: 60vh;
}

.mS4PictureBox img:nth-of-type(2) {
  z-index: 1;
  align-self: flex-end;
  margin: 0 0 -80px -50px;
  width: 25%;
  height: 70%;
}

.mS4Anim {
  background: white;
  text-align: end;
}

.mS4Anim img {
  z-index: 2;
  margin: -100px -120px 0 0;
  height: 28%;
  width: 28%;

  animation: imgRotate 15s infinite linear;
}

@keyframes imgRotate {
  to {
    transform: rotate(-360deg) translate(0px, 0px);
  }
}

/** ----- Main Section 5 --- */

.mainS5 {
  padding: 0 80px;
}

.mainS5 article:nth-of-type(1) {
  margin-bottom: 5%;
}

.mainS5 article:nth-of-type(1) div:nth-of-type(1) {
  width: 40%;
  padding: 10% 3% 5% 5%;
}

.mainS5 article:nth-of-type(1) div:nth-of-type(2) {
  width: 60%;
  padding: 150px 100px 75px 80px;
}

.mainS5 article:nth-of-type(1) p {
  color: black;
}

.mainS5 article:nth-of-type(2) {
  justify-content: center;

  margin-bottom: 5%;
}

.mainS5 article:nth-of-type(2) img:nth-of-type(1) {
  z-index: 1;
  margin: 250px -60px 0 0;

  height: 30vh;
  width: 25%;
}

.mainS5 article:nth-of-type(2) img:nth-of-type(2) {
  z-index: 0;
  height: 60vh;
  width: 60%;
}

/** ---- Footer --- */

footer {
  display: flex;

  background: black;

  height: 50vh;
  overflow: hidden;
}

/** ---- Footer section 1--- */

.fo1 {
  justify-content: space-around;
  align-items: flex-start;

  width: 40%;
  padding: 50px 30px 0 100px;
}

.fo1 > p {
  margin-bottom: 10px;
}

.fo1 > p:nth-of-type(1) {
  margin: 0 0 -60px 0;

  font-size: 1.2rem;
}

.fo1 .pStrong {
  font-size: 2.2rem;
  line-height: 46px;
}

.fo1 .btn {
  margin-top: -70px;
}

.fo1 article {
  justify-content: space-around;
  justify-self: flex-end;

  margin-bottom: -20px;
  height: 100px;
}

.fo1 article > p {
  font-size: 1.2rem;
}

.fo1 article div {
  margin-bottom: 7px;
}

.fo1 article div div a {
  display: block;
  margin: 0 5px 0 0;
  height: 20px;
  width: 20px;
  padding: 0;
}

.fo1 article div div a img {
  height: 100%;
  width: 100%;
}

/** ---- Footer section 2 --- */

.fo2 {
  position: relative;
  justify-content: center;
  width: 60%;
}

.foLine {
  margin-right: -55px;
  height: 120px;
  width: 300%;

  background: white;
  transform: rotate(45deg);
}

.foLineText {
  font-size: 9.9rem;
  color: black;

  animation: arqueeTemxt 15s linear infinite alternate;
}

@keyframes arqueeTemxt {
  from {
    transform: translate(33%, 0px);
  }

  to {
    transform: translate(-20%, 0px);
  }
}

.foLineText .textBg {
  color: white;

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.fo2 > div:nth-of-type(2) {
  position: absolute;
  bottom: 10%;
  right: 25%;
  z-index: 2;

  height: 5%;
  width: 20%;
}

.fo2 div:nth-of-type(2) img {
  margin-right: 10px;
  height: 100%;
  width: 40%;
}
